@import "vars.scss";
@import "mixins.scss";

:root {
  --light: #FFFFFF;
  --dark: #151516;
  --primary: #27348B;
  --blue: #005FFF;
  --width-base: 1440;
  --width-current: 100vw;
  --width-multiplier: var(--width-current) / var(--width-base);
}

@media(max-width: 1024px) {
    :root {
      --width-base: 768;
      --width-current: 100vmin;
    }
}

@media(max-width: 767px) {
    :root {
      --width-base: 375;
      --width-current: 100vmin;
    }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(100 * var(--width-multiplier));
}

:-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar {
  width: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  color: $dark;
  font: 400 calc(14 * var(--width-multiplier))/1 Gotham;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

.container {
  width: 100%;
  padding: 0 calc(50 * var(--width-multiplier));
  @media(max-width: 1024px) {
    padding: 0 calc(16 * var(--width-multiplier));
  }
}

input, textarea {
  width: 100%;
  padding: calc(14 * var(--width-multiplier));
  border: 1px solid var(--dark, $dark);
  border-radius: calc(8 * var(--width-multiplier));
  color: var(--dark, $dark);
  background-color: transparent;
  font: 400 1em/1 Gotham;
  &::placeholder {
    color: var(--dark, $dark);
  }
}

textarea {
  resize: none;
  height: calc(90 * var(--width-multiplier));
  &:focus {
    outline: none;
  }
}

select {
  -moz-appearance: none;
  appearance: none;
  width: max-content;
  padding: calc(14 * var(--width-multiplier));
  padding-right: calc(42 * var(--width-multiplier));
  border: 0;
  border-radius: 8px;
  // background: url(../img/arrow-down.svg) calc(100% - calc(16 * var(--width-multiplier)) ) 50% / calc(16 * var(--width-multiplier)) no-repeat;
  background-color: var(--light, $light);
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(8 * var(--width-multiplier));
  width: max-content;
  padding: calc(14 * var(--width-multiplier)) calc(24 * var(--width-multiplier));
  border: 1px solid var(--primary, $primary);
  border-radius: calc(8 * var(--width-multiplier));
  color: var(--light, $light);
  background-color: var(--primary, $primary);
  box-shadow: rgba(17, 17, 26, 0) 0px 0px 16px;
  @include transition;
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    border-color: var(--light, $light);
    color: var(--dark, $dark);
    background-color: var(--light, $light);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
  &-light {
    border-color: var(--light, $light);
    color: var(--dark, $dark);
    background-color: var(--light, $light);
    &:hover {
      border-color: var(--primary, $primary);
      color: var(--light, $light);
      background-color: var(--primary, $primary);
    }
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

h1, h2 {
  font: 700 calc(42 * var(--width-multiplier))/1.1 Gotham;
  @media (max-width: 1024px) {
    font-size: calc(32 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    font-size: calc(24 * var(--width-multiplier))
  }
}

h3 {
  font: 600 calc(32 * var(--width-multiplier))/1 Gotham;
  @media (max-width: 1024px) {
    font-size: calc(28 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    font-size: calc(22 * var(--width-multiplier))
  }
}

h4 {
  font: 600 calc(24 * var(--width-multiplier))/1 Gotham;
  @media (max-width: 767px) {
    font-size: calc(20 * var(--width-multiplier))
  }
}

h5 {
  font: 600 calc(18 * var(--width-multiplier))/1 Gotham;
}

h6 {
  font: 600 calc(16 * var(--width-multiplier))/1 Gotham;
}